{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "container-md" c">

    <h1 style="text-align: center">Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
            <div class="form-group">
                <label style="padding-top: 10px">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
                    
            <div class="form-group">
                <label style="padding-top: 10px">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>

            <div style="text-align:center">
            <button class="btn btn-primary" type="submit" style="margin-top: 10px"> Login </button>
            </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
</div>
<div style="padding-top: 30px; text-align:center">
    Belum mempunyai akun? <a class="btn btn-outline-secondary btn-sm" href="{% url 'wishlist:register' %}" role="button">Buat Akun</a>
</div>

{% endblock content %}